<div class="container content">
  <div class="row">
    <div class="col-sm-8 content">
      <main>
        <h1><%= @post.title.upcase %></h1>
        <div class="subheading">
          <%= image_tag(@post.author.picture, class: 'avatar') %>
          <p><%= @post.author.name %> <span>on <%= @post.created_at.strftime("%A %b %d %Y %-I:%M %p") %></span></p>
        </div>
        <%= simple_format @post.first_half(@post.body) %>
        <div class="interject">
          <%= @post.interject if @post.interject %>
        </div>
        <%= simple_format @post.second_half(@post.body) %>
        <div class="options">
          <a href="#"><i class="glyphicon glyphicon-comment"></i>Read Comments</a>
          <a href="#"><i class="glyphicon glyphicon-cloud-upload"></i>Read Later</a>
          <a href="#"><i id="share" class="glyphicon glyphicon-share"></i>Share This Post</a>
        </div>

      </main>
    </div>
    <div class="col-sm-4">
      <aside>
        <div class="author">
          <%= image_tag(@post.author.picture, class: 'avatar') %>
          <h3 class="text-center"><%= @post.author.name.upcase %></h3>
          <ul class="list-inline text-center">
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="ad">
          <%= link_to(@ad.url) do %>
            <%= image_tag(@ad.pic, class: "img-responsive") %>
            <%= content_tag(:h6, @ad.title, class: "text-right") %>
          <% end %>
        </div>
        <h2><%= @ad.headline %></h2>
        <p><%= @ad.text %></p>
      </aside>
    </div>
  </div>
</div>
<%= render partial: "post_links" %>
