<div class="container content">
  <div class="row">
    <div class="col-sm-8 content">
      <main>
        <h1>ALL POSTS</h1>
        <% @posts.each do |post| %>
          <div class="post-link">
            <%= link_to post.title, post_path(post) %>
            <h5>By <%= post.author.name %> on <%= post.created_at.strftime("%A %b %d %Y %-I:%M %p") %></h5>
          </div>
        <% end %>
        <div class="options">
          <%= link_to new_post_path do %>
          <i class="glyphicon glyphicon-comment"></i>New Post
          <% end %>
          <%= link_to new_author_path do %>
          <i class="glyphicon glyphicon-cloud-upload"></i>New Author
          <% end %>
        </div>

      </main>
    </div>
    <div class="col-sm-4">
      <aside>
        <%= render partial: 'ad', locals: { ad: @ad } %>
      </aside>
    </div>
  </div>
</div>
